<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

    <link href="__PUBLIC__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src='__PUBLIC__/js/jquery-1.7.2.min.js'></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .add-role{
            display:inline-block;
            width:100px;
            height:26px;
            line-height:26px;
            text-align:center;
            border:1px solid blue;
            border-radius:4px;
            margin-left:20px;
            cursor:pointer;
        }
    </style>
    <!--编辑器开始-->
    <link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
    <link rel="stylesheet" href="__PUBLIC__/editor/plugins/code/prettify.css" />
    <script charset="utf-8" src="__PUBLIC__/editor/kindeditor.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="__PUBLIC__/editor/plugins/code/prettify.js"></script>

    <script type="text/javascript">
        KindEditor.ready(function(K) {
            var editor1 = K.create('.text', {
                cssPath : '__PUBLIC__/editor/plugins/code/prettify.css',
                uploadJson : '__PUBLIC__/editor/php/upload_json.php',
                fileManagerJson : '__PUBLIC__/editor/php/file_manager_json.php',
                allowFileManager : true,
                minWidth :820,
                minHeight :200
            });
            prettyPrint();
        });
    </script>
    <!--编辑器结束-->
</head>
<body>
<form id="J_Form" action="{:U('Spot/spotImg_Edit')}" method="post" class="definewidth m20" enctype="multipart/form-data">
    <table class="table table-bordered table-hover definewidth m10" >

        <tr>
            <td class="tableleft">景点名称</td>
            <td>
                <input type = "hidden" name = "name" data-related="{required:ture}" value="{$spotImg.spot_id}" >{$spotImg.name}
            </td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">景点图片</td>
            <td>
                <input type='file' name='img' data-rules="{required:true}" /><img src="__ROOT__/Uploads/{$spotImg.img_src}" width="10%">
            </td>
        </tr>
        <tr>
            <td class="tableleft">图片描述</td>
            <td>
                <textarea name="detail"  class="" style="width: 400px; height: 100px">{$spotImg.img_detail}</textarea>
            </td>
        </tr>
        <tr>
            <td class="tableleft">季节</td>
            <td>
                <select name="season">
                    <option value="0"  <if condition="$spotImg['img_season'] eq 0">selected</if>>--请选季节--</option>
                    <option value="1" <if condition="$spotImg['img_season'] eq 1">selected</if>>春</option>
                    <option value="2"  <if condition="$spotImg['img_season'] eq 2">selected</if>>夏</option>
                    <option value="3"  <if condition="$spotImg['img_season'] eq 3">selected</if>>秋</option>
                    <option value="4"  <if condition="$spotImg['img_season'] eq 4">selected</if>>冬</option>
                </select>
            </td>
        </tr>
        <tr id="last">
            <td class="tableleft"></td>
            <td>
                <input type="hidden" name="img_id" value="{$img_id}" />
                <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/bui-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/config-min.js"></script>
</body>
<script>
    $(function () {
        $('#backid').click(function(){
            window.location.href="{:U('Spot/spotList')}";
        });

    });
</script>
</html>